@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0;
}
nav{
    font-family:'Ubuntu', sans-serif ;

}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 80 px;
    background-color: black;
    color: rgb(255, 255, 255);
}
nav ul li{
    padding: 0 12px;
}
.brand img {
    width: 44px;
    padding: 0 3px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4 rem;
}