@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0;
}
nav{
    font-family:'Ubuntu', sans-serif ;

}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 80px;
    background-color: black;
    color: rgb(255, 255, 255);
}
nav ul li{
    padding: 0 12px;
}
.brand img {
    width: 44px;
    padding: 0 3px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 75%;
    border-radius: 12px;
    padding: 30px;
    background-image: url('bg.jpg');
    flex-direction: column;
}
.bottom{
    position:sticky;
    height: 130px;
    background-color: black ;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
}
.banner{
    width: 120px;
    height: 100%;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}
.songItem{
    height: 120px;
    display: flex;
    background-color: rgb(90, 90, 234);
    width:25%;
    color:black;
    margin:12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}
.name{
    margin-left: 5px ;
    padding-left:5%;
}
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor: pointer;
}
